<div class="projects-container">
    <div class="title wow animate__animated animate__fadeInDown" data-wow-duration=".5s" data-wow-delay="1s">
        Our Projects
    </div>
    <div class="content">
        @for (project of projects; track $index) {
        <div [class]="`project-card ${project.theme}`"
            [ngClass]="{'selected-card':currSelectedProject() === project.id}"
            (click)="togglecontentVisability(project.id)">
            <div class="title-img-container"
                [ngClass]="{'change-vertical':showcontent() && currSelectedProject() && currSelectedProject() === project.id}">
                <h4>{{project.title}}</h4>
                <img [src]="project.imgaeSrc" [alt]="project.title">
            </div>
            <div class="content-button"
                [ngClass]="{'change-vertical-reverse':showcontent()  && currSelectedProject() && currSelectedProject() === project.id}">
                <p [ngClass]="{
            'content-visable': showcontent()  && currSelectedProject() && currSelectedProject() === project.id,
            'content-hidden': currSelectedProject() !== project.id
        }">{{project.content}}</p>

                <button type="button" class="toggle-btn">
                    <span class="btn-text">Jump In</span>
                    <svg class="btn-icon" width="12" height="13" viewBox="0 0 12 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.18131 2.73549L0.0286551 10.8882L1.3863 12.2458L9.53896 4.09314L11.5754 6.12961L11.5686 0.705814L6.14485 0.699026L8.18131 2.73549Z"
                            fill="#333435" />
                    </svg>
                </button>
            </div>
        </div>
        }
    </div>
</div>