.meet-our {
    overflow: hidden;
    background-color: var(--color-light-blue-100);

    & .before {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100%;
    }


    .sliders-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & .slider-1,
    .slider-2 {
        display: flex;
        gap: 16px;
        align-items: stretch;
        white-space: nowrap;
    }

    .slider-1 {
        animation: firstSectionAnim 16s linear 1s infinite;
    }

    & .slider-1 img,
    .slider-2 img {
        height: 100%;
        width: auto;
        object-fit: contain;
        // width: auto;
    }

    & .slider-1 .img-container,
    .slider-2 .img-container {
        height: 150px;
        background-color: #fff;
        border-radius: 16px;
        padding: 16px;
    }
}

.slider-2 {
    animation: secondSectionAnim 16s linear 1s infinite;
}


@keyframes firstSectionAnim {
    0% {

        transform: translateX(35%);
    }

    50% {
        transform: translateX(-35%);

    }

    100% {
        transform: translateX(35%);
    }
}

@keyframes secondSectionAnim {
    0% {
        transform: translateX(-35%);
    }

    50% {
        transform: translateX(35%);

    }

    100% {
        transform: translateX(-35%);
    }
}