.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 0;

    .before-top {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 45%;
    }

    .before-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        max-height: 45%;
    }

    .map {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px auto;
    }

    & .after {
        position: absolute;
        top: 0;
        right: 0;
        max-height: 100%;
    }
}