<div class="hero-container">
    <img src="assets/images/pages/image 14.png" alt="hero-first" class="base">

    <div class="content">
        <h1 class="cssanimation ca__fx-fadeInBottom ca__u-delay1s">Restoring Nature</h1>
        <p class="cssanimation ca__fx-fadeInTop ">Regenerating Ecosystems. Rethinking Impact</p>

        <button type="button" (click)="overlap()" [ngClass]="{ 'hide' : handleShowAllSections.isGreenBTNClicked() }"
            class="wow animate__animated animate__fadeIn" data-wow-delay="1s" data-wow-duration=".1s">
            Make it Green
        </button>

        <i [ngClass]="{'show':handleShowAllSections.isGreenBTNClicked(), 'pi pi-arrow-down' : true , 'arrow':true}">
        </i>
    </div>

    <img src="assets/images/pages/image 19.png" alt=""
        [ngClass]="{ 'overlap':true, 'active':handleShowAllSections.isGreenBTNClicked() }">
</div>